html, body {
    margin: 0;
    height: 100%;
}

.bar.positive {
    fill: darkgreen;
    /* stroke: black; */
}

.bar.negative {
    fill: darkred;
    /* stroke: black; */
}

.bar.positive:hover {
    fill: chartreuse;
}

.bar.negative:hover {
    fill: red;
    /* stroke: black; */
}
/*
.axis--x path {
    display: none;
}
*/

