<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWSE Crawler</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3-tip/example-style.css') }}">
    </head>

    <body>
    Option:<br>
    <select id="query_option" name="q_option" form="query_form">
        <option name="BASIC" value="BASIC">基本資料(Basic)</option>
        <option name="DIVIDEND" value="DIVIDEND">股利分配(Dividend Distribution)</option>
        <option name="FINANCIAL ANALYSIS" value="FINANCIAL ANALYSIS">財務資料分析(Financial Analysis)</option>
        <option name="INCOME STATEMENT" value="INCOME STATEMENT">綜合損益表(季)(Income Statement(Q))</option>
        <option name="PE RATIO"  value="PE RATIO">本益比(P/E Ration)</option>
        <option name="YEARLY EPS GRAPH" value="YEARLY EPS GRAPH">每股盈餘(EPS)</option>
        <option name="YEARLY REVENUE GRAPH" value="YEARLY REVENUE GRAPH">歷年營收(Yearly Revenue)</option>
    </select>

    <form action="/resp" id="query_form">
        Code Name:<br>
        <input type="text" name="codename"><br>
        <input type="submit" value="Submit"><br>
    </form>
    {% if json_result and last_option_val == "YEARLY EPS GRAPH" %}
    <script>
        var json_dataArray = {{ json_result|safe }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/barchart.js') }}"></script>
    {% elif json_result and last_option_val == "YEARLY REVENUE GRAPH" %}
    <script>
        var json_dataArray = {{ json_result|safe }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/stacked_barchart.js') }}"></script>
    {% endif %}
    {{ parsing_result|safe }} <br>
    <script type="text/javascript">
        var set_option_type = function(last_option_val){
           var query_form_obj = document.getElementById("query_option");
           var expected_form_obj = query_form_obj.children[last_option_val];
           if(expected_form_obj !== undefined)
           {
               expected_form_obj.setAttribute("selected", "selected");
           }
        };
        window.onload = function() {
            set_option_type("{{ last_option_val }}");
        };

    </script>

    </body>
</html>
