<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWSE Crawler</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="http://rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
    </head>

    <body>
    Option:<br>
    <select name="q_option" form="query_form">
        <option value="BASIC">基本資料(Basic)</option>
        <option value="DIVIDEND">股利分配(Dividend Distribution)</option>
        <option value="YEARLY EPS">財務資料分析(Financial Analysis)</option>
        <option value="QUARTERLY EPS">綜合損益表(季)(Income Statement)</option>
        <option value="PE RATIO">本益比(P/E Ration)</option>
        <option value="NET PROFIT PLUS EPS">每股盈餘(EPS)</option>
    </select>

    <form action="/resp" id="query_form">
        Code Name:<br>
        <input type="text" name="codename"><br>
        <input type="submit" value="Submit"><br>
    </form>
    {% if json_result %}
    <script>
        var json_dataArray = {{ json_result|safe }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/barchart.js') }}"></script>
    {% endif %}
    {{ parsing_result|safe }} <br>

    </body>
</html>
